.wcl-equifield-root {
	position: relative;
	overflow-x: hidden;
	overflow-y: hidden;
	line-height: 1.15;
	/* background-color: #0004; */
	font-size: 0;
}
.wcl-equifield-field {
	page-break-inside: avoid;
	page-break-after: auto;
	overflow-x: visible;
	content-visibility: auto;
	/* border-bottom: 1px dashed #00000019; */
}

@media print {
	.wcl-equifield-root {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 100vw;
		font-size: calc(100vw / 122) !important;
		box-sizing: border-box;
	}
	.wcl-equifield-field {
		border-bottom: none;
	}
	.wcl-equifield-content {
		/* Avoid error-prone bounding when printing (due to scaling) */
		margin-left: -1000vw;
		transform: translateX(1000vw) scale(1);
	}
}
